
.Login__Container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #eee;
  flex-direction: column;
}
.whatsapp__Logo{
  width: 95px;
  position: absolute;
  top: 15px;
  right: 5px;
}
.whatsapp__Logo >img{
  width: 100%;
  object-fit: contain;
}
.Login__Form{
  width: 400px;
  height: 400px;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  position: relative;
}
.Login__Form > form {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}
.Login__Profile{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px 0 #ddd;
}
.Prof__input{
  margin-top: 50px;
}
.file__Upload{
  position: absolute;
  height: 150px;
  opacity: 0;
  cursor: pointer;
  width: 150px;
}
.icon__block__user{
  font-size: 50px;
  color: #fff;
}
.Profile__Name{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #999;
  padding-bottom: 50px;
}
.icon__block__profileName{
  position: absolute;
  padding-top:  47px;
  left: 60px;
}
.Profile__Name >input{
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #ccc;
  width: 80%;
  /* width:  calc(100%- 40px); */
  height: 40px;
  text-align: center;
}
.Login__SubmitBtn{
  width: 200px;
  height: 50px;
  font-size: 18px;
  border: none;
  background: #46c756;
  columns: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 5px;
}
@media (max-width: 428px){
  .whatsapp__Logo{
      width: 80px;
  }
  .Login__Form{
      width: 350px;
      height: 350px;
  }
}