.chartForm{
    background-color: #ededed; 
    min-height: 59px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.action__Butn{
    width: 87px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.form__Icon{
    padding: 0;
    font-size: 25px;
    color: #9d9d9d;
    opacity: .6;
}
.form__Icon:hover{
    opacity: .9;
    cursor: pointer;
}
.form__Icon__active{
    color: #46c756;
}
.chat__Input{
    flex: .83;
    height: 40px;
    border: none;
    border-radius: 26px;
    padding: 0 20px;
    outline: none;
    font-size: 16px;
    color: #555;
}